/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  display: grid;
}

:root {
  --background: theme("colors.orange.100");
  --background-secondary: theme("colors.amber.50");

  --primary-dark: theme("colors.gray.900");
  --primary-medium: theme("colors.gray.700");
  --primary-light: theme("colors.gray.500");

  --accent-dark: theme("colors.amber.400");
  --accent-medium: theme("colors.amber.300");
  --accent-light: theme("colors.amber.200");

  --secondary-dark: theme("colors.gray.600");
  --secondary-medium: theme("colors.gray.800");
  --secondary-light: theme("colors.gray.900");
}